.animate-1 {
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out; }

.legacy-box {
  display: flex;
  align-items: center;
  margin-top: 25px; }
  .legacy-box .left img {
    width: 100%;
    max-width: 1109px; }
  .legacy-box .right .white-box {
    position: relative;
    border: solid 2px #b7945f;
    padding: 50px 50px 50px 100px;
    margin-left: -65px;
    background-color: #ffffff;
    width: 695px; }
    .legacy-box .right .white-box:after {
      position: absolute;
      right: -16px;
      top: 10%;
      content: url(../images/double.png);
      width: 30px;
      height: 79px; }
    .legacy-box .right .white-box .h2 {
      position: relative;
      text-transform: uppercase;
      padding: 30px 0;
      text-align: left; }
      .legacy-box .right .white-box .h2:after {
        position: absolute;
        background-color: #04565f;
        bottom: 20px;
        left: 0;
        content: "";
        height: 2px;
        width: 20%; }
    .legacy-box .right .white-box .p {
      font-size: 45px;
      font-style: italic;
      font-weight: 300;
      color: #8d7249;
      font-family: "Cormorant Garamond", serif;
      line-height: 50px; }

.legacy-text-box {
  display: flex;
  align-items: center; }
  .legacy-text-box .left {
    width: 70%; }
  .legacy-text-box .right {
    margin-left: 50px;
    margin-top: -80px; }
    .legacy-text-box .right img {
      width: 100%;
      max-width: 575px; }

.property-box ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .property-box ul li {
    list-style: none;
    display: inline-block;
    width: calc(46% - 5px);
    margin: 30px;
    vertical-align: top;
    position: relative;
    display: flex; }
    .property-box ul li .first {
      padding: 50px;
      border: solid 2px #8d7249;
      position: relative; }
      .property-box ul li .first:before {
        position: absolute;
        content: url(../images/single.png);
        width: 30px;
        height: 30px;
        left: -15px;
        top: 20%; }
    .property-box ul li .second {
      padding: 50px;
      border: solid 2px #8d7249;
      position: relative; }
      .property-box ul li .second:before {
        position: absolute;
        content: url(../images/single.png);
        width: 30px;
        height: 30px;
        left: -15px;
        bottom: 20%; }
    .property-box ul li .third {
      padding: 50px;
      border: solid 2px #8d7249;
      position: relative; }
      .property-box ul li .third:before {
        position: absolute;
        content: url(../images/single.png);
        width: 30px;
        height: 30px;
        right: -15px;
        top: 20%; }
    .property-box ul li .four {
      padding: 50px;
      border: solid 2px #8d7249;
      position: relative; }
      .property-box ul li .four:before {
        position: absolute;
        content: url(../images/single.png);
        width: 30px;
        height: 30px;
        right: -15px;
        bottom: 20%; }
    .property-box ul li .got-to-page {
      position: absolute;
      right: -2px;
      bottom: -20px;
      z-index: 1; }
      .property-box ul li .got-to-page a .gtp {
        border: solid 2px #8d7249;
        padding: 10px 20px;
        font-family: "Cormorant Garamond", serif;
        font-weight: 600;
        font-size: 24px;
        color: #8d7249;
        text-transform: uppercase; }
        .property-box ul li .got-to-page a .gtp:hover {
          background-color: #8d7249;
          border: solid 1px #ffffff;
          color: #ffffff; }
    .property-box ul li .gold {
      background-color: #8d7249;
      height: 13px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0; }
    .property-box ul li .orange {
      background-color: #ec6a31;
      height: 13px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0; }
    .property-box ul li .pink {
      background-color: #e2bfba;
      height: 13px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0; }
    .property-box ul li .green {
      background-color: #717739;
      height: 13px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 0; }
.property-box .copy-box {
  display: flex;
  align-items: flex-end; }
  .property-box .copy-box .left img {
    width: 100%;
    max-width: 372px; }
  .property-box .copy-box .right {
    margin-left: 20px; }

.property-carosel-box {
  width: 90%;
  margin: 0px auto; }

.property-carosel .slick-next {
  background: url(../images/prop-right-big.png) no-repeat;
  width: 52px;
  height: 52px;
  color: transparent; }

.property-carosel .slick-prev {
  background: url(../images/prop-left-big.png) no-repeat;
  width: 52px;
  height: 52px;
  color: transparent; }

.property-carosel .slick-prev:hover, .property-carosel .slick-prev:focus {
  color: transparent;
  outline: none;
  background: url(../images/prop-left-big.png) no-repeat;
  width: 52px;
  height: 52px; }

.property-carosel .slick-next:hover, .property-carosel .slick-next:focus {
  color: transparent;
  outline: none;
  background: url(../images/prop-right-big.png) no-repeat;
  width: 52px;
  height: 52px; }

.property-carosel .slick-prev:before, .property-carosel .slick-next:before {
  line-height: 1;
  opacity: 1;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.property-carosel .slick-slide {
  height: auto; }

.hor-list {
  padding: 0 30px;
  text-align: center; }

.property-carosel .slick-slide img {
  display: block;
  width: 100%; }

.property-carosel .slick-prev {
  left: -5px;
  z-index: 99; }

.property-carosel .slick-next {
  right: 35px;
  z-index: 99; }

.property-carosel .colWrapAD.slick-center {
  padding: 60px;
  position: relative;
  margin: 0 30px; }

.property-carosel .colWrapAD .left-side-pic .top {
  width: 50%;
  border-top: solid 2px #8d7249;
  position: relative; }
  .property-carosel .colWrapAD .left-side-pic .top:before {
    content: url(../images/single.png);
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
    position: absolute; }
  .property-carosel .colWrapAD .left-side-pic .top:after {
    content: "";
    height: calc(100vh - 50vh);
    border-left: solid 2px #8d7249;
    position: absolute;
    top: 15px;
    left: 0; }

.property-carosel .colWrapAD .left-side-pic .bottom {
  width: 50%;
  border-bottom: solid 2px #8d7249;
  float: right;
  position: relative;
  margin-right: -5px; }
  .property-carosel .colWrapAD .left-side-pic .bottom:before {
    content: url(../images/single.png);
    width: 30px;
    height: 30px;
    right: -15px;
    bottom: -15px;
    position: absolute; }
  .property-carosel .colWrapAD .left-side-pic .bottom:after {
    content: "";
    height: calc(100vh - 50vh);
    border-right: solid 2px #8d7249;
    position: absolute;
    bottom: 15px;
    right: 0; }

.property-carosel .colWrapAD {
  display: flex;
  justify-content: space-between;
  padding: 50px; }

.property-carosel .colWrapAD .left-side-pic {
  margin-right: 50px; }

.property-carosel .colWrapAD .right-side-pic {
  display: flex; }

.property-carosel .slick-slide img {
  padding: 20px; }

.read-less {
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 99; }
  .read-less .less {
    border: solid 2px #8d7249;
    padding: 10px 20px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 24px;
    color: #8d7249;
    text-transform: uppercase;
    cursor: pointer; }
    .read-less .less:hover {
      background-color: #8d7249;
      border: solid 1px #ffffff;
      color: #ffffff; }

.read-more {
  position: absolute;
  right: -2px;
  bottom: -30px;
  z-index: 99; }
  .read-more .more {
    border: solid 2px #8d7249;
    padding: 10px 20px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 24px;
    color: #8d7249;
    text-transform: uppercase;
    cursor: pointer; }
    .read-more .more:hover {
      background-color: #8d7249;
      border: solid 1px #ffffff;
      color: #ffffff; }

/*# sourceMappingURL=global.css.map */
