// variable starts here

$garamondregular:'cormorant_garamondregular';
$garamondlight:'cormorant_garamondlight';
$garamondmedium:'cormorant_garamondmedium';
$garamondsemibold:'cormorant_garamondsemibold';
$garamondbold:'cormorant_garamondbold';



$fnt-wt-300-light:300;
$fnt-wt-400-regular:400;
$fnt-wt-500-medium:500;
$fnt-wt-600-semibold:600;
$fnt-wt-700-bold:700;


$cormorant-garamond:'Cormorant Garamond', serif;





$gold-color:#8d7249;
$text-size:25px;
$white-color:#ffffff;

$text-bold: bold;
$text-center:center;

.animate-1 { transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}



header {width: 100%;position: fixed;left: 0;top: 0;	z-index: 101;}

.nav-container {width: 100%;position: relative; background-color: #ffffff;
}
.navigation-list {display: flex; justify-content: space-between; align-items: center; padding: 10px 0; }
.right-side { }
.leftLogo {
img {max-width: 136px; width:100%; }
}
.right-logo {
img {	width: auto;float: right;}
}
.mainNav {
>li {
float: left;
width: auto;
list-style: none;
font-family:$cormorant-garamond;
font-weight:$fnt-wt-600-semibold;
color: #04565f;
font-size: 16px;
text-transform: uppercase;
//		padding-bottom: 10px;
>a {
color:#04565f;
padding:30px;
position: relative;
display: inline-block;
&:hover {
color:$gold-color;
text-decoration: none;
&:after {

}
}
&.active {color:$gold-color;}
}
}

}


.mainNav > li > a::after {
    content: '';  display: block;
    position:absolute; left:30px; bottom:20px; content:""; background-color: $gold-color; width:0%; height:2px;  transition: width .3s;
}

.mainNav > li > a:hover::after {
    width: 40%;
    //transition: width .3s;
}




#nav-toggle {
display: none;
position: absolute;
width: 100%;
cursor: pointer;
span {
cursor: pointer;
border-radius: 1px;
height: 4px;
width: 25px;
background:$gold-color;
position: absolute;
display: block;
content: '';
transition: all 500ms ease-in-out;
&:before {
cursor: pointer;
border-radius: 1px;
height: 4px;
width: 25px;
background: $gold-color;
position: absolute;
display: block;
content: '';
top: -7px;
transition: all 500ms ease-in-out;
}
&:after {
cursor: pointer;
border-radius: 1px;
height: 4px;
width: 25px;
background: $gold-color;
position: absolute;
display: block;
content: '';
bottom: -7px;
transition: all 500ms ease-in-out;
}
}
p {
float: left;
text-transform: uppercase;
color: #000000;
font-size: 0;
}
}
#nav-toggle.active {
span {
background-color: transparent;
&:before {
top: 0;
transform: rotate(45deg);
height: 4px;
}
&:after {
top: 0;
transform: rotate(-45deg);
height: 4px;
}
}
}
#nav-toggle.open {
p {
display: none;
}
}



.desk { display:block;}
.mob { display:none; }


/* Mobile CSS starts here */



@media only screen and (min-width:1280px) and (max-width:1366px){

.mainNav > li > a { padding:20px;}
    
}


@media only screen and (min-width:992px) and (max-width:1279px){

.mainNav > li {  font-size:14px;}
.mainNav > li > a { padding:20px;}
.mainNav > li > a:hover:after { left:20px; bottom: 10px;}
.book-now {font-size: 14px;}
.book-now a { padding: 8px 10px;}  
}




@media only screen and (max-width:991px){


.mainNav{ padding: 0; margin:0; }
.mainNav{ display: none; padding: 0 0 0px; background:#ffffff; position: absolute; left: 0; top: 45px; width:100%; height:auto; overflow-y:scroll; color:$gold-color; max-height:calc(100vh - 102px); }
.mainNav.open{ display: block; }
.mainNav > li{ width: 100%; border-bottom:solid 1px $gold-color; background:#ffffff; transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -ms-transition: all .3s ease-out; -o-transition: all .3s ease-out;}
.mainNav > li:hover { background-color:$gold-color; color:#ffffff;}
.mainNav > li > a { padding:15px; color:$gold-color; font-size: 12px; }
.mainNav > li > a.active { background-color:$gold-color; color:#ffffff; }
#nav-toggle{ display: block }
.mainNav > li:last-child:after { background-color:transparent; }
.mainNav > li > a:hover:after { background-color:transparent;}
.mainNav > li > a:after { height:0;}
.mainNav > li > a:hover { color:#ffffff;}    



.right-side { margin-bottom: 0; order: 1;} 

.left-side{ float: left;}   
.right-side{ float: right; margin:-4px 25px 0 20px;padding:15px 0; }

.mainNav>li:last-child{border-bottom: 0px;}


.openmenu {  display: block !important;}
.mainNav>li { padding-bottom: 0px;}


.leftLogo img { width: 50px; }
.navigation-list { width: 100%; padding:10px 0;} 
.navigation-list .left-side { flex-grow:1;}

.desk { display:none;}
.mob { display:block; }


.book-now { margin:0; font-size: 14px;}
.book-now a { padding: 8px 10px;}   



}



@media only screen and (max-width:767px){

.book-now { font-size: 12px;}
.book-now a { padding: 5px 8px;} 
.book-now a:hover { padding: 5px 8px;} 

} 