// variable starts here

$garamondregular:'cormorant_garamondregular';
$garamondlight:'cormorant_garamondlight';
$garamondmedium:'cormorant_garamondmedium';
$garamondsemibold:'cormorant_garamondsemibold';
$garamondbold:'cormorant_garamondbold';



$fnt-wt-300-light:300;
$fnt-wt-400-regular:400;
$fnt-wt-500-medium:500;
$fnt-wt-600-semibold:600;
$fnt-wt-700-bold:700;


$cormorant-garamond:'Cormorant Garamond', serif;





$gold-color:#8d7249;
$text-size:24px;
$white-color:#ffffff;

$text-bold: bold;
$text-center:center;

.animate-1 { transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out; -o-transition: all .1s ease-in-out;}









//location strats here



.location-container { background-color: #ffffff; clear:both;
    
    .divider {text-align: center;
     img { width:100%; max-width:1008px;  padding:30px 0;}
    
    }
    
.location-box { display:flex; align-items: center; 
    .left {
        
    }
    .right{ }

}

.nav-tabs > li { float:none; margin:10px 30px; position:relative;
     &:after{ content:url(../images/design-2.png); position:absolute; left:50px; bottom:-15px; }
    }
.nav-tabs > li > a { border:none;}
.nav-tabs { border:none;}
.nav-tabs > li.active > a { border:none;}
.nav-tabs > li.active > a:focus { border:none;}
.nav-tabs > li.active > a:hover { border:none;}
.nav > li > a:focus { background-color: transparent;}
.nav > li > a:hover { background-color: transparent;}

.textField select {	background: transparent; -webkit-appearance: none; 
	-moz-appearance: none;  /* for Firefox */	appearance: none; 
	-ms-appearance:none;   background: #fff url("../images/dropdown-arrow.png") no-repeat scroll 96% center; color:$gold-color; font-family:'montserratlight'; font-size:16px; margin:0 0 20px 0;   border: solid 1px #d9d9d9;    padding: 10px;
    width: 100%;	border:solid 1px #c5c3c3;height:50px; }
.textField select::-ms-expand { display: none; } /* for IE */

    .map-details { display:flex; align-items:center;
        .left{ width:17%;
           
        }
        .right{ color:$gold-color; font-family:'montserratlight'; font-size:22px; margin-left:50px;
            p{ margin:10px 0 10px 0;
                span{ font-weight:bold;}
            }
        }
    }
}
.tab-content {
    img { width:100%;}
    
}

.location-container .nav-tabs > li:nth-child(1) .map-details .left {
    img { width:100%; max-width:93px;}
}
.location-container .nav-tabs > li:nth-child(2) .map-details .left {
    img { width:100%; max-width:149px; }
}
.location-container .nav-tabs > li:nth-child(3) .map-details .left { 
    img { width:100%; max-width:175px; }
}
.location-container .nav-tabs > li:nth-child(4) .map-details .left {
    img { width:100%; max-width:121px; }
}